.graf {
    background-color: #edede9;
    border: 1px solid #d6ccc2;
  }
  
  .backdrop {
    fill: rgb(15, 13, 13);
    stroke: #777;
  }

  .axis {
    font-size: 7pt;
    color: #00f;
  }

  .titulo {
    font-size:20pt;
    font-weight: bold;

  }
  