.graf {
    background-color: #edede9;
    border: 1px solid #d6ccc2;
  }
  
  .backdrop {
    fill: #ccc;
    stroke: #777;
  }

  .axis {
    fill: #6B705C;
    font-size: 12pt;
    color: #00f;
  }

  .titulo {
    font-size:20pt;
    font-weight: bold;

  }
  